.gallery_container {
  position: relative;
  width: 80%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  gap: 1.5rem; /* Odstęp między kolumnami */
}
.gallery_column {
  flex: 1; /* Każda kolumna zajmuje równą szerokość */
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* Odstęp między zdjęciami wewnątrz kolumny */
}
