.input_container {
  display: flex;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: left;
}
.input {
  border: 0;
}
.input:focus {
  outline: none;
  width: 100%;
  height: 100%;
}
